@page
@model WebApp.Pages.Game.LoadGame

@{
    ViewData["Title"] = "Load a game";
}

<h1>Load a game</h1>


<table class="table table-bordered" style="width: initial;">

<tbody>
    @foreach(var playerName in Model.gameData)
    {
        <tr>
            <td>
                <form method="post">
                    <input asp-for="GameSettingsId" type="submit" name="GameSettingsId" class="btn btn-secondary" value=@playerName.GameSettingsId>
                </form>
            </td>
            <td>
                @playerName.PlayerName
            </td>
            <td>
                @playerName.Time
            </td>
        </tr>
    }
    </tbody>
</table>